@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}




/*                                    [ ESTRUCTURACIÓN ]                                                   */
body {
    margin: 1;
}

header {
    min-height: 100vh;
    /*max-width:; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*background-color: rgb(72, 201, 176);*/
    background-image: url("img_4.jpg");
    background-size: cover;

}

@media (max-width: 767px) {
    header {
        /**flex-direction: column;*/
        width: 100%;
    }
}


main {
    /*padding: 10rem 2rem;*/
    /*margin-top: 1px;*/
    padding-top: 100px;

    margin: 1px;

}

@media (max-width: 767px) {
    main {
        width: 50%;


        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    max-width: 1200px;
    margin: 0 auto;

}

@media (max-width: 767px) {
    section {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}


article {
    padding: 2rem;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 50%;
    min-height: 200px;
    margin: 10px;
}

@media (max-width: 767px) {
    article {
        width: 50%;
        padding: 2rem;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        width: 150%;
        min-height: 200px;

        margin-left: 60px;
        display: flex;
        flex-direction: column;


    }
}


nav {
    display: flex;
    gap: 2rem;
}


div {
    /* padding: 20px;
    border: 1px solid orange;
    border-radius: 30px;*/

    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media(max-width: 767px) {
    div {
        /* padding: 20px;
        border: 1px solid orange;
        border-radius: 30px; */

        margin-top: 20px;
        margin-bottom: 1rem;
        justify-content: center;
    }

}


footer {
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    text-align: center;
    color: white;
}

@media (max-width: 767px) {
    footer {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

    }
}


/*                                     [ TEXTOS ]                                                     */


ul {
    font-size: 2rem;
    margin-top: -100px;
    margin-left: -80px;
}

@media (max-width: 767px) {
    ul {
        font-size: 2rem;
        margin-top: -100px;
        margin-left: -10px;
    }
}


li {
    font-size: 30px;
    color: black;

    margin-left: 50px;
}

@media (max-width: 767px) {
    li {
        font-size: 25px;
        color: black;

        margin-left: 100px;
    }
}


p {
    font-size: 30px;
    margin: 15px;

    margin-left: 20px;
    border-radius: 0.5rem;
    align-content: normal;
}

@media (max-width: 767px) {
    p {
        font-size: 25px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
}


a {
    font-size: 30px;
    text-decoration: black;
    color: rgb(253, 255, 135);
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;


}

@media (max-width: 767px) {
    a {
        /**flex-direction: column;**/
        width: 100%;
        font-size: 20px;
        text-decoration: black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}


/*                                    [ SUBTITULOS ]                                                   */
h1 {
    text-align: left;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

@media (max-width: 767px) {
    h1 {

        text-align: left;
        font-family: Arial Black;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }
}


h2 {
    /*color: black;
    font-family: arial, helvetica, "sans serif";
    font-size: 150%;*/

    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 100px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

}

@media (max-width: 767px) {
    h2 {
        text-align: center;
        font-family: Arial Black;
        font-weight: bold;
        font-size: 50px;
        color: #ffffff;
        text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);

    }
}


h3 {
    /*font-size: 3rem;
    color: whitesmoke;*/
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif Black;
    font-size: 50px;
    color: #e2e1e1;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

@media (max-width: 767px) {
    h3 {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif Black;
        font-size: 30px;
        color: #e2e1e1;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;

    }
}

/**Titulos de inicio de  TODAS LAS paginas**/
h4 {
    font-size: 40px;
    color: black;

    /*margin-top: 50px;
    margin-left: 50px;
*/
    margin-bottom: 1px;
    margin: 1px;
}

@media (max-width: 767px) {
    h4 {
        padding: 1px;
        margin-top: 1px;

        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


h5 {
    font-size: 25px;
    color: orange;
}

@media (max-width: 767px) {
    h5 {

        font-size: 25px;
        color: orange;

    }
}


h6 {
    font-size: 20px;
    color: orange;

    padding: 2px;
    margin-top: 50px;
    margin: 20px;
}

@media (max-width: 767px) {
    h6 {

        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif, orange;

        width: 180px;
        padding: 2px;
        margin-left: 150px;
        /*border: 5px solid rgb(0, 0, 0);
        background-color: rgb(255, 102, 31);
        border-radius: 15px;
        margin-top: 0.5px;
        margin-bottom: 1px;*/

        justify-content: center;
    }
}



/*                                    [ IMAGENES Y OBJETOS ]                                                   */
img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

@media (max-width: 767px) {
    img {
        width: 100%;
        max-height: 1800px;
        object-fit: cover;

    }
}


frame {
    padding: 20px;
    border-radius: 30px;

    margin-top: 1rem;
    margin-bottom: 1rem;

    margin-top: 1px;
}

@media (max-width: 767px) {
    frame {
        width: 21rem;
        height: 30rem;

        padding: 1px;
        border: 1px solid rgb(12, 10, 5);
        border-radius: 20px;

        margin-top: 5rem;
        margin-bottom: 5rem;

        justify-content: center;

    }
}


iframe {
    padding: 20px;
    border-radius: 20px;

    margin-top: -100px;
    margin-bottom: 150px;
}

@media (max-width: 767px) {
    iframe {
        padding: 1px;
        border: 1px solid rgb(12, 10, 5);
        border-radius: 20px;

        justify-content: center;
        width: 400px;
        height: 30rem;


        margin-top: -100px;
        margin-left: 5px;
        margin-bottom: 150px;
    }
}


object {
    padding: 1px;
    border-radius: 30px;

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 800px;
    height: 500px;

}

@media (max-width: 767px) {
    object {
        width: 100px;
        height: 100px;

        padding: 10px;
        border: 1px solid rgb(12, 10, 5);
        border-radius: 10px;

        margin-left: 130px;
        background-image: url("img_doc.png");
        background-size: cover;

    }
}


button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: rgb(92, 130, 187);
    color: white;
}


/*                              ------[ DIVISIÓN ]-------                             */
/*                                   AUN NO SE CUAL ES SU FUNCIÓN                     */
input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
    width: 100%;
    max-width: 500px;
}

/*                                    [ CLASES ]                                                   */

.alinear {

    width: 500px;
    height: 900px;
    margin: 0 10px;
}

.contener {

    display: flex;
    justify-content: center;

}

.bigger {
    width: 900px;
    height: 900px;
    margin: 0 10px;

    margin-bottom: 50px;

}

.tex {
    margin-left: 50px;
}

.justificado {
    text-align: justify;
}

.ptext {
    margin-left: 50px;
}

.caja {
    border: 1px solid rgb(253, 255, 135);
    padding: 10px;
    border-radius: 15px;
    margin-top: 0.5px;
    margin-bottom: 1px;
}

.cabezal1 {
    background-color: rgb(197, 197, 181);
    padding: 2rem;
    text-align: center;
    color: white;
}

.cabezal2 {
    background-color: rgba(51, 148, 228, 0.205);
    padding: 1rem;
    text-align: center;
    color: white;
}

.cabezal3 {
    background-color: rgba(211, 223, 53, 0.788);
    padding: 0rem;
    text-align: center;
    color: white;
}

.cabezal4 {
    background-color: rgba(218, 55, 55, 0.87);
    padding: 0rem;
    text-align: center;
    color: white;
}

.cabezal5 {
    background-color: rgb(197, 197, 181);
    padding: 2rem;
    text-align: center;
    color: black;
}


.video {

    width: 600px;
    height: 300px;
    margin: 50px;

}


@media(max-width:767px) {

    .alinear {

        width: 300px;
        height: 200px;

        margin-bottom: 20px;
        margin-left: 10px;
    }

    .contener {

        flex-direction: column;
        align-items: center;

    }

    .bigger {

        width: 300px;
        height: 200px;
        margin-top: -50px;
        margin-left: 10px;

    }

    .tex {
        margin-left: 10px;
        margin-bottom: -50px;
    }

    .justificado {
        font-size: 15px;

        padding: 1rem;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        width: 400px;
        height: 100px;
        margin: 1px;
    }

    .caja {
        border: 1px solid rgb(253, 255, 135);
        padding: 10px;
        border-radius: 15px;
        margin-top: 0.5px;
        margin-bottom: 1px;

    }

    .cabezal1 {
        background-color: rgb(197, 197, 181);
        padding: 2rem;
        text-align: center;
        color: white;
    }

    .cabezal2 {
        background-color: rgba(51, 148, 228, 0.205);
        padding: 1rem;
        text-align: center;
        color: white;
    }

    .cabezal3 {
        background-color: rgba(211, 223, 53, 0.788);
        padding: 0rem;
        text-align: center;
        color: white;
    }

    .cabezal4 {
        background-color: rgba(218, 55, 55, 0.87);
        padding: 0rem;
        text-align: center;
        color: white;
    }

    .cabezal5 {
        background-color: rgb(197, 197, 181);
        padding: 2rem;
        text-align: center;
        color: black;
    }

    .video {

        margin-left: 10px;
        width: 300px;
        height: 200px;
        margin: 50px;

    }
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    pointer-events: none;
    visibility: hidden;
}

.popup img {
    aspect-ratio: 1 / 1;
    max-height: initial;
    max-width: 50%;
}

.active {
    pointer-events: all;
    visibility: visible;
}

#contact {
    display: block;
    text-align: center;
}

.inside {
    list-style-position: inside;
}

.outside {
    list-style-position: outside;
}



/*                                    [ CODIGO ELIMINADO ]                                                   */
/*         [ADAPTACIÓN WEB DE PAGINA ORIGINAL DE EJEMPLO]
.column {
    border: 1px dotted #666;
    padding: 10px;
    width: 99%;
}**/

/**@media (max-width: 767px) {
    header {
        flex-direction: column;
        width: 50%;
    }
}**/