@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* __________________________________________________________________________________________________________*/
/*|                                                                                                          |*/
/*|                                            [ ESTRUCTURACIÓN ]                                            |*/
/*|__________________________________________________________________________________________________________|*/

body {
    margin: 1;
    font-family: "Roboto";
}


header {
    background-color: #000;
    padding: 15px 0;
}

.header_barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.inicio {
    min-height: 100vh;
    /*max-width:; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*background-color: rgb(72, 201, 176);*/
    background-image: url("img_4.jpg");
    background-size: cover;
}

@media (max-width: 767px) {

    .header_barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0px;
    }

    .inicio {
        /**flex-direction: column;*/
        width: 100%;
    }
}


main {
    /*padding: 10rem 2rem;*/
    /*margin-top: 1px;*/
    padding-top: 100px;
    margin: 1px;
}

section {
    display: flex;
    justify-content: center;
    /*Si quito esto le da otra vista a la sección*/
    flex-wrap: wrap;

    gap: 1rem;
    max-width: 1000px;

    padding-bottom: 120px;
    margin: 0 auto;
}

article {
    padding: 2rem;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 50%;
    min-height: 200px;
    margin: 10px;
}

nav {
    display: flex;
    gap: 2rem;
}

div {
    /* padding: 20px;
    border: 1px solid orange;
    border-radius: 30px;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    main {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    section {
        margin-top: 1px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 80px;
    }

    article {
        width: 50%;
        padding: 2rem;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 30px;
        width: 150%;
        min-height: 200px;

        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }

    div {
        /* padding: 20px;
        border: 1px solid orange;
        border-radius: 30px; */
        margin-top: 20px;
        margin-bottom: 1rem;
        justify-content: center;
    }
}





footer {
    background-color: black;
    color: white;
}

footer .seccion {
    background-color: black;
    color: white;
    padding-bottom: 0;
}

footer .barra-footer {
    background-color: rgb(17, 17, 17);
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

@media (max-width: 767px) {

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        background-color: black;
        color: white;
    }

    footer .seccion {
        background-color: black;
        color: white;
        padding-bottom: 0;
    }

    footer .barra-footer {
        background-color: rgb(17, 17, 17);
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    footer ul {
        padding-left: 0;
        list-style: none;
    }

}

.desplegado {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    /* ESTO HARA QUE NUESTROS ELEMENTOS QUEDEN MEJOR CENTRADOS
    ME PUEDE SERVIR PARA CENTRAR BIEN LAS IMAGENES DE PROCESO LAS ANIMAS */
    width: 1140px;
    margin: 0 auto 0 auto;
    margin-right: 15px;
    margin-left: 15px;
}

/*.container_footer {
    width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
    */

.seccion {
    padding-top: 60px;
    padding-bottom: 60px;
}

.columna {
    padding-right: 15px;
    padding-left: 15px;
}

.columna-50 {
    width: 50%;
}

@media(max-width:767px) {


    .desplegado {
        display: contents;
        justify-content: space-between;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        /* ESTO HARA QUE NUESTROS ELEMENTOS QUEDEN MEJOR CENTRADOS
        ME PUEDE SERVIR PARA CENTRAR BIEN LAS IMAGENES DE PROCESO LAS ANIMAS */
        width: 1140px;
        margin: 0 auto 0 auto;
        margin-right: 15px;
        margin-left: 15px;
    }

    /* .container_footer {
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }
    */

    .seccion {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .columna {
        padding-right: 15px;
        padding-left: 15px;
    }

    .columna-50 {
        width: 100%;
    }
}



/* __________________________________________________________________________________________________________*/
/*|                                                                                                          |*/
/*|                                            [ TEXTOS ]                                                    |*/
/*|__________________________________________________________________________________________________________|*/
ul {
    font-size: 2rem;
    margin-top: -100px;
    margin-left: -80px;
}

ol {
    font-size: 2rem;
    margin-top: -100px;
    margin-left: -80px;
}

li {
    color: black;
    font-size: 30px;
    margin-left: 50px;
}

.li_footer {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 5px;
    padding-left: 240px;
}

p {
    font-size: 30px;
    margin: 15px;
    margin-left: 20px;
    border-radius: 0.5rem;
    align-content: normal;
}

a {
    font-size: 30px;
    text-decoration: black;
    color: rgb(253, 255, 135);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;

}

@media (max-width: 767px) {

    ul {
        font-size: 2rem;
        margin-top: -100px;
        margin-left: -10px;
    }

    ol {
        font-size: 2rem;
        margin-top: -100px;
        margin-left: -10px;
    }

    li {
        color: black;
        font-size: 25px;
        margin-left: 100px;
    }

    .li_footer {
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-left: 50px;
        padding-left: 1px;
    }

    p {
        font-size: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    a {
        /**flex-direction: column;**/
        text-decoration: black;
        font-size: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}









/* __________________________________________________________________________________________________________*/
/*|                                                                                                          |*/
/*|                                            [ SUBTITULOS ]                                                |*/
/*|__________________________________________________________________________________________________________|*/
.big_title {
    /* h1 */
    color: #fff;
    font-family: Arial Black;
    font-size: 100px;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-weight: bold;
}

.subtitle_gray {
    /* h2 */
    color: #e2e1e1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif Black;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 50px;
    text-align: left;

}

.head_title {
    /* h2 */
    font-family: Arial Black;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.standar_title {
    /* h3 */
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-bottom: 1px;
    margin: 1px;
}

.orange_title {
    /* h5 */
    color: orange;
    font-size: 25px;
}

.part_subtitle {
    /*h6 */
    color: orange;
    font-size: 30px;
    text-align: center;
    padding: 2px;
    margin-top: 50px;
    margin: 20px;
}

.download {
    /* h6 */
    color: rgb(131, 129, 230);
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    padding: 2px;
    margin: 20px;
}

@media(max-width:767px) {

    .big_title {
        font-family: Arial Black;
        color: #ffffff;
        text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
        text-align: center;
        font-weight: bold;
        font-size: 50px;
    }

    .subtitle_gray {
        color: #e2e1e1;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif Black;
        text-align: center;
        font-size: 25px;
    }

    .head_title {
        color: #fff;
        font-family: Arial Black;
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        font-size: 20px;
        padding-left: 100px;
        font-weight: bold;
    }

    .standar_title {
        margin-top: 1px;
        font-size: 40px;
        padding: 2px;
        justify-content: center;
        display: flex;
    }

    .orange_title {
        font-size: 25px;
        color: orange;
    }

    .part_subtitle {
        /*h6 */
        color: orange;
        font-family: Arial, Helvetica, sans-serif, orange;
        margin-left: 150px;
        font-size: 30px;
        margin: 20px;
        width: 10px;
        padding-left: 30px;
        padding-top: 50px;
        /*border: 5px solid rgb(0, 0, 0);
        background-color: rgb(255, 102, 31);
        border-radius: 15px;
        margin-top: 0.5px;
        margin-bottom: 1px;*/
    }

    .download {
        font-size: 20px;
        color: rgb(4, 0, 255);
        padding: 2px;
        margin-top: 50px;
        margin: 20px;
    }

}









/* __________________________________________________________________________________________________________*/
/*|                                                                                                          |*/
/*|                                            [ IMAGENES Y OBJETOS ]                                        |*/
/*|__________________________________________________________________________________________________________|*/
img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

@media (max-width: 767px) {
    img {
        width: 100%;
        max-height: 1800px;
        object-fit: cover;
    }
}

frame {
    padding: 20px;
    border-radius: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-top: 1px;
}

iframe {
    padding: 20px;
    border-radius: 20px;
    margin-top: -100px;
    margin-bottom: 150px;
}

@media (max-width: 767px) {
    frame {
        width: 21rem;
        height: 30rem;
        padding: 1px;
        border: 1px solid rgb(12, 10, 5);
        border-radius: 20px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        justify-content: center;
    }

    .ajustar_mapa {
        width: 300px;
        height: 400px;
        margin-left: -50px;
    }
}

@media (max-width: 767px) {
    iframe {
        padding: 1px;
        border: 1px solid rgb(12, 10, 5);
        border-radius: 20px;
        justify-content: center;
        width: 400px;
        height: 30rem;
        margin-top: -100px;
        margin-left: 5px;
        margin-bottom: 150px;
    }
}


object {
    padding: 1px;
    border-radius: 30px;

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 800px;
    height: 500px;

}

@media (max-width: 767px) {
    object {
        border: 1px solid rgb(12, 10, 5);
        border-radius: 10px;
        background-image: url("img_doc.png");
        background-size: cover;
        margin-left: 130px;
        height: 100px;
        padding: 10px;
        width: 100px;
    }
}

button {
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: rgb(92, 130, 187);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
}

input {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
    border-radius: 0.5rem;
    max-width: 500px;
    padding: 0.5rem;
    width: 100%;
    border: none;
}

.go_back {
    width: 150px;
    height: 10px;

    padding-top: 50px;
    padding-left: 30px;
}

.go_jump {
    width: 100px;
    height: 10px;

    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .go_back {
        width: 100px;
        height: 10px;

        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;
    }
}









/* __________________________________________________________________________________________________________*/
/*|                                                                                                          |*/
/*|                                            [ CLASES             ]                                        |*/
/*|__________________________________________________________________________________________________________|*/
.alinear {
    margin: 0 10px;
    height: 900px;
    width: 500px;
}

.contener {
    /* ESTO LE DA MUCHO ESPACIO AL ANCHO EN FORMATO CELULAR
    width: 1140px;*/
    justify-content: center;
    display: flex;
}

.bigger {
    margin-bottom: 50px;
    height: 900px;
    margin: 0 10px;
    width: 900px;
}

.tex {
    margin-left: 50px;
}

.justificado {
    text-align: justify;
}

.ptext {
    margin-left: 50px;
}

.caja {
    border: 1px solid rgb(253, 255, 135);
    padding: 10px;
    border-radius: 15px;
    margin-top: 0.5px;
    margin-bottom: 1px;
}

.video {
    width: 600px;
    height: 300px;
    margin: 50px;
}

@media(max-width:767px) {
    .alinear {
        margin-bottom: 20px;
        margin-left: 10px;
        width: 300px;
        height: 200px;
    }

    .contener {
        flex-direction: column;
        align-items: center;
    }

    .bigger {
        margin-top: -50px;
        margin-left: 10px;
        width: 300px;
        height: 200px;
    }

    .alinear_img {
        margin-left: 25px;
    }

    .alinear_video {
        margin-left: -10px;
    }

    .tex {
        margin-bottom: -50px;
        margin-left: 10px;
    }

    .justificado {
        text-align: center;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        font-size: 15px;
        padding: 2rem;
        margin: 50px;
        margin-bottom: 100px;
        height: 160px;
        width: 300px;
        margin-left: 40px;
    }

    /*article {
    width: 50%;
    padding: 2rem;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    width: 150%;
    min-height: 200px;

    margin-left: 50px;
    display: flex;
    flex-direction: column;
}*/

    .caja {
        border: 1px solid rgb(253, 255, 135);
        border-radius: 15px;
        margin-bottom: 1px;
        margin-top: 0.5px;
        padding: 10px;
    }

    .video {
        margin-left: 10px;
        width: 300px;
        height: 200px;
        margin: 40px;
    }
}











/* __________________________________________________________________________________________________________*/
/*|                                                                                                          |*/
/*|                                            [ CABEZALES ]                                                 |*/
/*|__________________________________________________________________________________________________________|*/
.cabezal1 {
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
    background-color: rgb(197, 197, 181);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 2rem;
}

.cabezal2 {
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
    background-color: rgba(51, 148, 228, 0.205);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}

.cabezal3 {
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
    background-color: rgba(211, 223, 53, 0.788);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0rem;
}

.cabezal4 {
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
    background-color: rgba(218, 55, 55, 0.87);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}

.cabezal5 {
    background-color: rgb(197, 197, 181);
    text-align: left;
    color: black;
    padding: 1rem;
}

/*                                   { MEDIA ADAP}                                                 */
@media(max-width:767px) {

    .cabezal1 {
        box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
        background-color: rgb(197, 197, 181);
        border: 1px solid rgb(0, 0, 0);
        color: white;
        border-radius: 0px;
        text-align: center;
        padding: 2rem;
    }

    .cabezal2 {
        box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
        background-color: rgba(51, 148, 228, 0.205);
        border: 1px solid rgb(0, 0, 0);
        color: white;
        border-radius: 0px;
        text-align: center;
        padding: 1rem;
    }

    .cabezal3 {
        box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
        background-color: rgba(211, 223, 53, 0.788);
        border: 1px solid rgb(0, 0, 0);
        color: white;
        border-radius: 0px;
        text-align: center;
        padding: 0rem;
    }

    .cabezal4 {
        box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.3) inset;
        background-color: rgba(218, 55, 55, 0.87);
        border: 1px solid rgb(0, 0, 0);
        color: white;
        border-radius: 0px;
        padding: 1rem;
        text-align: center;

    }

    .cabezal5 {
        background-color: rgb(197, 197, 181);
        color: black;
        text-align: center;
        padding: 0rem;
    }

    .inside {
        list-style-position: inside;
        padding-left: 12px;
    }

}









/* __________________________________________________________________________________________________________*/
/*|                                                                                                          |*/
/*|                                            [ DIVISIÓN  ]                                                 |*/
/*|___________________________________ AUN NO SE CUAL ES SU FUNCIÓN__________________________________________|*/
.popup {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;

}

.popup img {
    aspect-ratio: 1 / 1;
    max-height: initial;
    max-width: 50%;
}

.active {
    pointer-events: all;
    visibility: visible;
}

#contact {
    display: block;
    text-align: center;
}

.inside {
    list-style-position: inside;

}

.outside {
    list-style-position: outside;
}



/*                                    [ CODIGO ELIMINADO ]                                                   */
/*         [ADAPTACIÓN WEB DE PAGINA ORIGINAL DE EJEMPLO]
.column {
    border: 1px dotted #666;
    padding: 10px;
    width: 99%;
}**/

/**@media (max-width: 767px) {
    header {
        flex-direction: column;
        width: 50%;
    }
}**/